<!--部分テンプレートの作成-->
<div class="content__post" style="background-image: url(<%= photo.image %>);">  <!-- 画像サーバー準備が必要 -->
  <p>
    <%= br(photo.caption) %>
  </p>
  <span class="title"><%= photo.title %></span>
</div>