<div class="container">
  <p class="resizeimage">
    <img src="http://3.bp.blogspot.com/_usfcTevxPF8/TQ--GrHhVfI/AAAAAAAAH1Y/TmjjkeNOD_4/s1600/img090.jpg" alt="トップ画像" >
  </p>
  <a href="<%= user_omniauth_authorize_path(:facebook) %>", method="post">
  <button type="button" class="btn btn-primary btn-block">Sign in with Facebook</button>
  </a>
  <button type="button" class="btn btn-default btn-block"  onclick="location.href='/users/sign_in'">メールアドレスにてログイン</button>
  <button type="button" class="btn btn-default btn-block" onclick="location.href='/users/sign_up'">メールアドレスにて会員登録</button>
</div>