<div class="container">
  <div class="contents row">
    <button type="button" class="btn btn-primary btn-block">facebookにて会員登録</button>
    <button type="button" class="btn btn-default btn-block">メールアドレスにて会員登録</button>
    <button type="button" class="btn btn-primary btn-block">facebookにてログイン</button>
    <button type="button" class="btn btn-default btn-block">メールアドレスにてログイン</button>
  </div>
</div>